<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org"
	th:replace="~{layout/admin_main :: layout( _ , _ , ~{::div#breadcrumb} , ~{::body}, _ )}">
	
	<head>
		<link rel="stylesheet" />
	</head>
	
	<body>
		<div id="breadcrumb">
			<a href="javascript: void(0);"class="breadcrumb">Produto</a>
		</div>
		
		<div id="body">
			<!-- div class="container" -->
				<ul class="tabs" style="margin-top: 15px;">
					<li class="tab">
						<a href="#rowProdutos" class="active">Produtos</a>
					</li>
					<li class="tab">
						<a href="#rowCategoriasProduto">Categorias de Produto</a>
					</li>
				</ul>
				<div class="row" id="rowProdutos">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<table class="highlight">
									<thead>
										<th>&nbsp;</th>
										<th>Nome</th>
										<th>Categoria</th>
										<th>Valor</th>
										<th>&nbsp;</th>
										<th>&nbsp;</th>
									</thead>
									<tbody>
										<tr th:each="produto : ${produtos}" th:id='${"produto_"+produto.id}'>
											<td style="width: 75px;">
												<div class="slider center">
													<ul class="slides">
														<li  th:each="imagem : ${produto.imagens}">
															<img th:src="@{/imagem/exibir/thumb/M/{nomeArquivo}(nomeArquivo=${imagem.nomeArquivo})}">
														</li>
													</ul>
												</div>
											</td>
											<td th:text="${produto.nome}" style="font-weight:bold;">Nome do Produto</td>
											<td th:text="${produto.categoria.nome}">Categoria</td>
											<td th:text="|R$ ${produto.valor}|">R$ 20.00</td>
											<td><a th:href="@{/produto/editar/{id}(id=${produto.id})}" ><i class="small material-icons">create</i></a></td>
											<td><a th:href="|javascript: apagarProduto(${produto.id});|"><i class="small material-icons">delete</i></a></td>
										</tr>
									</tbody>
								</table>
								<span class="container" th:if="${#lists.isEmpty(produtos)}">Não existem produtos cadastrados</span>
							</div>
						</div>
					</div>
					<div class="fixed-action-btn">
						<a class="btn-floating btn-large purple lighten-3" th:href="@{/produto/novo}">
							<i class="large material-icons">add</i>
						</a>
					</div>
				</div>
				<div class="row" id="rowCategoriasProduto">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<table class="highlight">
									<thead>
										<th>Nome</th>
										<th>Descrição</th>
									</thead>
									<tbody>
										<tr th:each="categoria : ${categorias}">
											<td th:text="${categoria.nome}" style="font-weight:bold;">Nome da Categoria</td>
											<td th:text="${categoria.descricao}" >Descrição da Categoria</td>
										</tr>
									</tbody>
								</table>
								<span class="container" th:if="${#lists.isEmpty(categorias)}">Não existem categorias cadastradas</span>
							</div>
						</div>
					</div>
					<div class="fixed-action-btn">
						<a class="btn-floating btn-large purple lighten-3" th:href="@{/categoria/novo}">
							<i class="large material-icons">add</i>
						</a>
					</div>
				</div>
			</div>
		<!-- /div -->
		<section id="javascript-extra">
			<script>
				$(function(){
					$('.slider').slider({
						duration: 200,
						indicators: false,
						interval: 6000,
						height: 55
					});
				});
				
				function apagarProduto(id){
					if(confirm("Deseja realmente apagar este produto?")){
						$.ajax({
							url: '/produto/apagar/'+id
						}).done(function(data){
							$("#produto_"+id).remove();
							aviso("Produto removido com sucesso!");
						});
					}
				}
			</script>
			<script th:if="${mensagem}">
				$(function(){
					/*<![CDATA[*/
	
				    var toastHTML = /*[[${mensagem}]]*/ 'Produto salvo com sucesso!!!';
					M.toast({html: toastHTML});
	
					/*]]>*/
				});
			</script>
		</section>
	</body>
</html>