<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{layout/loja_main :: layout( _ , _ , ~{::body}, _ )}">
	
	<head>
		<link rel="stylesheet" />
	</head>
	
	<body>
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 m4 l3" th:each="produto : ${produtos}">
						<div class="card hoverable">
							<div class="card-image waves-effect waves-block waves-light slider center">
								<ul class="slides">
									<li  th:each="imagem : ${produto.imagens}">
										<img class="activator" th:src="@{/imagem/exibir/thumb/G/{nomeArquivo}(nomeArquivo=${imagem.nomeArquivo})}">
									</li>
								</ul>
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4" th:text="${produto.nome}">Card Title<i class="material-icons right">more_vert</i></span>
								<p th:text="${produto.descricao}"></p>
							</div>
							<div class="card-action center">
								<a href="javascript: void(0);" class="waves-effect waves-light btn purple" th:text="|R$ ${#numbers.formatDecimal(produto.preco, 0, 'POINT', 2, 'COMMA')}|">R$ 12,34</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="javascript-extra">
			<script>
				$(function(){
					$('.slider').slider({
						duration: 200,
						indicators: false,
						interval: 6000,
						height: 300
					});
				});
			</script>
		</section>
	</body>
</html>