<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org"
	th:replace="~{layout/admin_main :: layout( _ , _ , ~{::div#breadcrumb} , ~{::body}, _ )}">
	
	<head>
		<link rel="stylesheet" />
	</head>
	
	<body>
		<div id="breadcrumb">
			<a href="javascript: void(0);"class="breadcrumb">Usuário</a>
		</div>
		
		<div id="body">
			<!-- div class="container" -->
				<ul class="tabs" style="margin-top: 15px;">
					<li class="tab">
						<a href="#rowUsuarios" class="active">Usuários</a>
					</li>
				</ul>
				<div class="row" id="rowUsuarios">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<table class="highlight">
									<thead>
										<th>Username</th>
										<th>Data de Criação</th>
										<th>Data de Alteração</th>
										<th>&nbsp;</th>
										<th>&nbsp;</th>
									</thead>
									<tbody>
										<tr th:each="usuario : ${usuarios}" th:id='${"usuario_"+usuario.id}'>
											<td th:text="${usuario.username}" style="font-weight:bold;">Username</td>
											<td th:text="${#dates.format(usuario.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}">dd/MM/yyyy HH:mm:ss</td>
											<td th:text="${#dates.format(usuario.dataModificacao, 'dd/MM/yyyy HH:mm:ss')}">dd/MM/yyyy HH:mm:ss</td>
											<td><a th:href="@{/usuario/editar/{id}(id=${usuario.id})}" ><i class="small material-icons">create</i></a></td>
											<td><a th:href="|javascript: apagarUsuario(${usuario.id});|"><i class="small material-icons">delete</i></a></td>
										</tr>
									</tbody>
								</table>
								<span class="container" th:if="${#lists.isEmpty(usuarios)}">Não existem usuários cadastrados</span>
							</div>
						</div>
					</div>
					<div class="fixed-action-btn">
						<a class="btn-floating btn-large purple lighten-3" th:href="@{/usuario/novo}">
							<i class="large material-icons">add</i>
						</a>
					</div>
				</div>
			</div>
		<!-- /div -->
		<section id="javascript-extra">
			<script>
				function apagarUsuario(id){
					if(confirm("Deseja realmente apagar este usuário?")){
						$.ajax({
							url: '/usuario/apagar/'+id
						}).done(function(data){
							$("#usuario_"+id).remove();
							aviso("Usuário removido com sucesso!");
						});
					}
				}
			</script>
			<script th:if="${mensagem}">
				$(function(){
					/*<![CDATA[*/
	
				    var toastHTML = /*[[${mensagem}]]*/ 'Usuário salvo com sucesso!!!';
					M.toast({html: toastHTML});
	
					/*]]>*/
				});
			</script>
		</section>
	</body>
</html>