<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org"
	th:replace="~{layout/admin_main :: layout( _ , ~{::link} , ~{::div#breadcrumb} , ~{::body}, _ )}">
	
	<head>
		<link rel="stylesheet" href="/vendors/uikit/css/uikit.min.css" />
	</head>
	
	<body>
		<div class="col s12" id="breadcrumb">
			<a href="javascript: void(0);" th:href="@{/configuracao}" class="breadcrumb">Configuração</a>
			<a href="javascript: void(0);" class="breadcrumb">Cadastro</a>
		</div>
		<div id="body">
			<div class="container">
				<div class="row">
					<form method="post" th:action="@{/configuracao/novo}" class="col s12" th:object="${configuracao}">
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{ativo}" id="ativo" value="true" />
						<div class="row">
							<div class="input-field">
								<div class="switch">
									<label>
										Inativo
										<input id="checkAtivo" checked type="checkbox">
										<span class="lever"></span>
										Ativo
									</label>
								</div>
							</div>
							<div class="input-field">
								<label for="valor" class="required" th:text="${configuracao.chave}">Valor</label>
								<input type="text" id="valor" th:field="*{valor}" th:errorclass="invalid" />
								<span class="helper-text" data-error="Valor Inválido" data-success="correto">Informe o Valor</span>
							</div>
							<div class="input-field">
								<label for="descricao" class="required">Descrição</label>
								<textarea class="materialize-textarea" id="descricao" th:field="*{descricao}" th:errorclass="invalid" disabled></textarea>
								<span class="helper-text" data-error="Descrição Inválida" data-success="correto">Descreva as principais caracteísticas da Configuração</span>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s4">
								<a class="waves-effect waves-light btn blue accent-1" th:href="@{/configuracao/}">Cancelar</a>
							</div>
							<div class="input-field col s4">
								<button class="btn waves-effect waves-light" type="submit">
									Salvar
									<i class="material-icons right">send</i>
								</button>
							</div>
							<div class="input-field col s4" th:if="${configuracao.id != null}">
								<a class="waves-effect waves-light btn red" th:href="|javascript: if(confirm('Deseja realmente apagar esta configuracao?'))@{/configuracao/apagar/{id}(id=${configuracao.id})}}|">
									Apagar
									<i class="material-icons right">delete</i>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>