<!DOCTYPE html>

<html lang="pt"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<nav class="purple lighten-3" role="navigation" th:fragment="navbar">
		<div class="nav-wrapper container">
			<a href="/"><img src="/images/Logo_MaquiagemImportada.png" height="64" class="icon hide-on-small-only" alt="Maquiagem Importada" /></a>
			<a href="/"><img src="/images/Logo_MaquiagemImportada.png" height="56" class="icon hide-on-med-and-up" alt="Maquiagem Importada" /></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul>
	
			<ul id="nav-mobile" class="sidenav">
				<li><a href="#">Navbar Link</a></li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
		</div>
	</nav>
</html>